# Ignore CSV files
*.csv

# Ignore environment files
*.env

# Ignore configuration files
*.conf

# Ignore database files
*.db

# Ignore JSON Lines files
*.jsonl

data/
*.db
*.csv
*.jsonl
__pycache__/
.ipynb_checkpoints/